.legend-list {
  color: #152A32;
  font-weight: 400;
  font-size: 1em;
  margin: 4px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}

.legend-list-column-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.legend-list-column-right {
  display: flex;
  justify-content: center;
}

.legend-circle {
  width: 9px;
  height: 9px;
  border-radius: 8px;
  margin: 2px 8px 0 8px;
}

.traffic-color {
  background-color: #FBC2A2;
}

.food-color {
  background-color: #7BF7C9;
}

.living-color {
  background-color: #F1EFAB;
}

.ticket-color {
  background-color: #ECA9FF;
}

.shopping-color {
  background-color: #E488FC;
}

.legend-category {
  margin-right: 15px;
  letter-spacing: 2px;
}

.legend-cost {
  margin-right: 15px;
  letter-spacing: 0.5px;
}

.legend-percentage {
  margin-right: 2px;
  letter-spacing: 0.5px;
}
