.app {
	height: 125%;
}

.dashboard {
  height: 100%;
  background-color: #F9F9F9;
}

.dashboard button {
  outline: none;
}

/*share css*/
.web-info-wrapper {
  height: 28px;
  padding: 25px 20px 18px 20px;
}

.web-info {
  font-size: 11px;
  font-weight: 500;
  color: rgba(62,62,62, 1);
  margin: 25px 10px 10px 10px;
}
