/*This file consists of two parts: 'Landing' and 'Home & Navigation'*/
/*Landing*/

@media screen and (max-width: 1025px) {
  .switcher-nav {
    margin: 30px;
  }

  .signin, .register {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .landing-welcome-words-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin-top: 50px;
  }

  .landing-welcome-words {
    width: 80%;
    max-width: 500px;
    margin: 0;
  }

  .landing-welcome-words p {
    line-height: 50px;
    margin: 0;
  }

  .landing-form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8%;
    padding: 0;
  }

  .landing-form {
    width: 80%;
    min-width: 400px;
  }
}

@media screen and (max-width: 415px) {
  .switcher-nav {
    margin: 20px;
  }

  .switcher-nav p {
    font-size: 15px;
    margin: 2px 10px 0 10px;
  }

  .signin, .register {
    margin-top: 20px;
  }

  .landing-welcome-words p {
    font-size: 28px;
    line-height: 36px;
    letter-spacing: 0.5px;
    margin: 0;
  }

  .tripper-white-logo {
    width: 90px;
  }

  .landing-form-wrapper {
    padding-bottom: 40px;
  }

  .landing-form {
    width: 65%;
    min-width: 280px;
  }

  .landing-form-row-title {
    margin: 15px 0 7px 0;
  }

  .landing-form-submit {
    margin-top: 30px;
  }

  .landing-form-alarm-words {
    font-size: 13px;
    letter-spacing: 0.6px;
    margin: 5px;
  }
}

@media screen and (max-width: 321px) {
  .landing-form {
    padding: 26px 16px;
    min-width: 250px;
    border-radius: 18px;
  }

  .landing-form-row-title {
    font-size: 15px;
    margin-top: 10px;
  }

  .landing-form-alarm {
    flex-direction: column;
    align-items: flex-end;
  }

  .web-vital-info {
    margin: 16px 10px 10px 10px;
    line-height: 16px;
    letter-spacing: 0;
  }
}

/*Home & Navigation*/
@media screen and (max-width: 1650px) {
  .side-bar-wrapper {
    max-width: 380px;
    min-width: 318px;
  }

  .journey-name {
    letter-spacing: 0.2px;
  }

  .add-item {
    flex-direction: column;
    align-items: flex-start;
  }

  .item-btn-group {
    margin: 10px 5px;
    align-items: center;
  }

  .add-submit-input {
    margin: 0;
  }

  .item-category {
    padding: 0;
    width: 17%;
  }

  .item-detail-input {
    width: 56%;
  }

  .item-amount-input {
    width: 24%;
  }  
}

@media screen and (max-width: 1512px) {
  .accounts-nav {
    flex-direction: column;
    align-items: flex-start;
  }

  .accounts-days {
    margin: 0 15px;
  }

  .accounts-left-column {
    margin-top: 10px;
    width: 95%;
  }
}

@media screen and (min-width: 1261px) and (max-width: 1512px) {
  .static-pannel-wrapper {
    min-width: 900px;
  }

  .minor-section {
    width: 48%;
  }

  .item-control-btn-wrapper {
    margin-left: 2px;
  }
}

@media screen and (max-width: 1260px) {
  .side-bar-wrapper {
    width: 35%;
    min-width: 292px;
    max-width: 350px;
    position: fixed;
    z-index: 10000;
    box-shadow: 4px 0px 10px 0 rgba(0,0,0, 0.2);
  }
}

@media screen and (max-width: 1047px) {
  .main-section {
    margin-top: 65px;
  }

  .sub-section {
    flex-direction: column;
    align-items: center;
  }

  .minor-section {
    width: 80%;
    max-width: 767px;
    margin: 10px;
  }

  .change-display-journey-btn {
    max-width: 160px;
  }

  .budget-wrapper {
    width: 80%;
    margin: 10px;
    display: flex;
    flex-direction: column;
    max-width: 600px;
  }
}

@media screen and (min-width: 679px) and (max-width: 1047px) {
  .nav-text-wrapper {
    margin: 8px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .journeys-list-wrapper {
    padding-top: 48px;
  }
}

@media screen and (min-width: 700px) and (max-width: 1047px) {
  .static-pannel-wrapper {
    max-width: 600px;
  }

  .static-pannel {
    padding: 3% 1.5%;
  }

  .static-pannel-section-wrapper {
    padding: 0;
    margin: 0 15px;
  }

  .static-pannel-text {
    margin-top: 18px;
  }
  
  .static-pannel-amount, .static-pannel-text span {
    font-size: 18px;
    font-weight: 500;
  }

  .static-pannel-text button {
    margin-top: 0;
  }

  .static-pannel-input {
    font-size: 18px;
    width: 60px;
    font-weight: 500;
  }

  .accounts-wrapper {
    max-width: 600px;
    margin-top: 30px;
  }
}

@media screen and (max-width: 699px) {
  .navigation button, .nav-text-slogan, .nav-user-name {
    font-size: 12px;
  }

  .nav-text-logo {
    font-size: 15px;
  }

  .static-pannel {
    padding: 3% 1.5%;
  }

  .static-pannel-section-wrapper {
    padding: 0;
    margin: 0 12px;
  }

  .static-pannel-topic {
    margin-right: 10px;
  }

  .static-pannel-title {
    font-size: 13px;
  }

  .static-pannel-subtitle {
    font-size: 11px;
    letter-spacing: 0.2px;
  }
  
  .static-pannel-amount, .static-pannel-text span {
    font-size: 15px;
  }

  .total-budget-update {
    margin-top: 6px;
  }

  .static-pannel-input {
    font-size: 15px;
    width: 60px;
    font-weight: 500;
  }

  .budget-section {
    width: 98%;
  }
}

@media screen and (max-width: 680px) {
  button, input {
    font-size: 13px;
    letter-spacing: 0.5px;
  }

  .nav-text-logo {
    margin: 0;
  }

  .nav-text-slogan, .nav-user-name,
  .seperate-line-img {
    display: none;
  }

  .add-submit-input {
    font-size: 12px;
    padding: 0 10px;
  }

  .home-title, .home-subtitle, .show-days span,
  .charts-summary span, .budget-summary span {
    font-size: 13px;
    letter-spacing: 1px;
  }

  .main-section {
    margin-top: 25px;
  }

  .sub-section {
    flex-direction: column;
    align-items: center;
  }

  .minor-section {
    width: 80%;
    max-width: 767px;
    margin: 10px;
  }

  .budget-wrapper {
    width: 80%;
    margin: 10px;
    display: flex;
    flex-direction: column;
    max-width: 600px;
  }

  .budget {
    width: 100%;
  }

  .budget-content p {
    font-size: 15px;
  }

  .budget-input {
    font-size: 14px;
  }

  .budget-detail p {
    font-size: 11px;
  }

  .budget-section {
    padding: 15px 10px;
    width: 96%;
  }

  .static-pannel-wrapper {
    margin: 10px;
  }
  
  .static-pannel {
    border-radius: 20px;
    padding: 5px 2px 8px 2px;
  }

  .static-pannel-section-wrapper {
    width: 33%;
    margin: 10px 0;
  }

  .static-pannel-section {
    flex-direction: column;
    align-items: flex-start;
    padding-left: 25%;
    margin: 5px 0;
  }

  .static-pannel-topic {
    margin-right: 0;
    padding: 3px 0;
  }

  .static-pannel-title {
    font-size: 14px;
  }

  .static-pannel-subtitle {
    display: none;
  }
  
  .static-pannel-amount {
    margin-top: 14px;
    font-size: 18px;
  }

  .static-pannel-text span {
    font-size: 18px;
    margin-top: 2px;
  }

  .static-pannel-text button {
    margin-top: 0px;
  }

  .static-pannel-input {
    width: 72px;
    font-size: 17px;
  }

  .chart-legend {
    padding: 0;
    width: 60%;
  }

  .accounts-days {
    width: 114px;
  }

  .days-name, .days-selector-btn {
    font-size: 15px;
  }

  .category-selector-icon-img {
    margin-bottom: 1px;
  }

  .list-item-group span {
    font-size: 13px;
  }

  .item-category-text {
    font-size: 14px;
  }

  .item-category {
    width: 20%;
  }

  .item-detail-input {
    width: 46%;
  }

  .item-amount-input {
    width: 18%;
  }

  .add-item-submit {
    font-size: 11px;
  }
}

@media screen and (max-width: 575px) {
  .static-pannel-wrapper {
    width: 90%;
  }

  .budget-wrapper {
    width: 90%;
  }

  .minor-section {
    width: 90%;
    margin: 10px;
  }

  .chart-legend {
    width: 50%;
    padding-right: 20px;
    margin: 5px 0 25px 0;
  }

  .legend-list {
    width: 100%;
  }
}

@media screen and (max-width: 510px) {
  .static-pannel {
    flex-direction: column;
    align-items: center;
    padding: 18px 0;
  }

  .static-pannel-section-wrapper {
    width: 80%;
    margin: 0;
  }

  .static-pannel-section {
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding-left: 0;
    margin: 2px;
  }

  .static-pannel-title {
    margin: 0;
    letter-spacing: 2px;
    font-size: 13px;
  }

  .total-budget-update {
    margin: 0;
  }

  .static-pannel-input {
    height: 27px;
  }

  .static-pannel-update {
    height: 27px;
  }

  .static-pannel-amount {
    margin: 0 7px 0 0;
  }

  .total-budget-update .cancel-btn {
    margin: 3px 2px;
  }

  .static-pannel-text {
    margin: 0;
    align-items: center;
  }
    
  .static-pannel-text span {
    margin: 0;
  }

  .charts {
    flex-direction: column;
  }

  .chart-legend {
    width: 75%;
    margin: 5px 0 25px 0;
  }
}

@media screen and (max-width: 560px) {
  .accounts {
    border-radius: 10px;
  }

  .accounts-list {
    padding: 0 3.5% 1% 3.5%;
  }  

  .accounts-list-item {
    width: 97%;
    border-radius: 10px;
    margin-bottom: 5px;
  }

  .category-selector-wrapper {
    width: 30%;
    max-width: 110px;
  }

  .accounts-list .item-category {
    width: 90%;
    align-items: flex-start;
    margin: 10px;
  }

  .accounts-list .item-category-btn-icon {
    margin-left: 15px;
  }

  .list-item-update {
    flex-direction: column;
  }

  .list-item-update input {
    margin: 4px;
  }

  .item-detail-update-input {
    width: 90%;
  }

  .item-amount-update-input {
    width: 90%;
  }

  .add-item-wrapper {
    padding: 1% 3.5% 1.5% 3.5%;
  }
}

@media screen and (max-width: 415px) {
  .budget-section {
    width: 94%;
  }

  .budget-control {
    margin: 0 8px;
  }

  .budget-content .budget-topic {
    font-size: 13px;
    margin-right: 16px;
  }

  .budget-update-wrapper {
    margin-left: 25px;
  }

  .accounts-list {
    padding: 0 5% 2% 5%;
  }
}

@media screen and (max-width: 390px) {
  .home-title {
    margin: 8px 15px 18px 15px;
    font-size: 12px;
  }

  .home-subtitle {
    letter-spacing: 0.1px;
    margin: 8px 0 18px 15px;
    font-size: 12px;
  }

  .show-days span {
    margin: 8px 0 18px 0px;
    font-size: 12px;
  }

  .static-pannel-wrapper {
    margin: 10px 0 0 0;
  }

  .budget-wrapper {
    margin: 0;
  }

  .budget-chart-area {
    margin-right: 2px;
  }

  .budget-summary span, .charts-summary span {
    letter-spacing: 0.5px;
    font-size: 12px;
    margin: 0 3px;
  }

  .budget-update-wrapper {
    margin-right: 15px;
    width: 80px;
  }

  .budget-control {
    margin: 0 0 0 15px;
  }

  .budget-input {
    width: 65px;
  }
}

@media screen and (max-width: 362px) {
  .budget-control {
    margin: 0 0 0 12px;
  }

  .budget-content .budget-topic {
    margin-right: 10px;
  }
}

@media screen and (max-width: 358px) {
  .static-pannel-wrapper {
    min-width: 267px;
  }

  .budget-wrapper {
    width: 75%;
    min-width: 267px;
  }

  .budget-section {
    flex-direction: column-reverse;
  }

  .budget-chart-area {
    margin: 5px 0;
  }

  .budget-control {
    margin: 8px 0 10px 30px;
  }

  .budget-content .budget-topic {
    margin-right: 30px;
  }

  .minor-section {
    min-width: 267px;
  }

  .accounts-days {
    width: 120px;
    padding: 0 8px;
    margin: 0 15px 0 5px;
  }

  .list-item-detail {
    margin-left: 10px;
    width: 45%;
  }
}
