.budget-wrapper {
	margin-right: 50px;
	padding: 0;
	width: 40%;
	max-width: 400px
}

.budget {
	padding-right: 10%;
	margin: 0;
}

.budget-section {
	padding: 30px 25px;
	margin-bottom: 10px;
	width: 100%;
	background-color: #fff;
	border-radius: 20px;
	box-shadow: 3px 5px 10px 0px rgba(0,0,0, 0.1);
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.budget-content {
	display: flex;
	align-items: center;
	height: 27px;
	margin-bottom: 12px;
}

.budget-control {
	margin-right: 20px;
	font-family: "Ubuntu";
}

.budget-topic ,.budget-amount{
	font-size: 16px;
	font-weight: 500;
	letter-spacing: 0.5px;
}

.budget-topic {
	color: #2d2d2d;
	margin-right: 40px;
}

.budget-amount {
	color: #177ef5;
	margin-right: 2px;
}

.budget-detail {
	display: flex;
	align-items: center;
	margin-bottom: 2px;
}

.budget-detail p {
	font-size: 14px;
	letter-spacing: 1px;
	margin-right: 20px;
}

.budget-text-wrapper {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.budget-update {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: flex-start;
}

.cancel-btn {
	background: none;
	outline: none;
	display: flex;
	align-items: center;
	margin-left: 3px;
}

.cancel-icon-img {
	margin: 0;
	width: 10px;
}

.budget-input {
	font-weight: 500;
	font-size: 16px;
	letter-spacing: 0.2px;
	color: rgba(62, 62, 62, 0.9);
	margin: 0;
	padding: 3px 3px 3px 5px;
	width: 70px;
	background-color: #f0f0f0;
	outline: none;
	border: 1px solid #f0f0f0;
	border-radius: 5px;
}

.budget-input::placeholder {
	font-weight: 300;
	font-size: 17px;
	letter-spacing: 0.5px;
	color: rgba(62, 62, 62, 0.9);
	text-align: right;
}

.budget-input:focus {
	background-color: rgba(0, 0, 0,0.02);
	border: 1px solid #50e3c2;
}