.budget-wrapper {
	margin-right: 50px;
	width: 40%;
	max-width: 400px
}

.budget-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.budget-summary {
  margin-right: 15px;
}

.budget-summary span {
  letter-spacing: 0.5px;
  font-family: "Ubuntu";
  margin: 0 5px;
  color: #3E3E3E;
  font-weight: 400;
  font-size: 15px;
}

.budget {
	width: 90%;
}

.budget-section {
	padding: 25px 30px;
	margin-bottom: 10px;
	width: 100%;
	background-color: #fff;
	border-radius: 20px;
	box-shadow: 3px 5px 10px 0px rgba(0,0,0, 0.1);
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.budget-control {
	margin: 0 15px;
	font-family: "Ubuntu";
}

.budget-content {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 27px;
	margin-bottom: 12px;
}

.budget-content p {
	font-size: 16px;
	font-weight: 500;
	letter-spacing: 0.5px;
}

.budget-topic {
	color: #2d2d2d;
	margin-right: 40px;
}

.budget-update-wrapper {
	width: 90px;
	display: flex;
	justify-content: flex-end;
	margin-left: 10px;
}

.budget-update {
	display: flex;
	justify-content: flex-end;
}

.budget-input {
	font-weight: 500;
	font-size: 16px;
	letter-spacing: 0.2px;
	color: rgba(62, 62, 62, 0.9);
	margin: 9px 0;
	padding: 3px 0 3px 7px;
	width: 80px;
	height: 22px;
	background-color: #f0f0f0;
	border: 1px solid #f0f0f0;
	border-radius: 5px;
}

.budget-input::placeholder {
	font-weight: 300;
	font-size: 17px;
	letter-spacing: 0.5px;
	color: rgba(62, 62, 62, 0.9);
	text-align: right;
}

.budget-input:focus {
	background-color: rgba(0, 0, 0,0.02);
	border: 1px solid #177EF5;
}

.budget-text-wrapper {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.budget-amount {
	color: #177ef5;
	margin-right: 2px;
}

.budget-detail {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 2px;
}

.budget-detail p {
	font-size: 14px;
	letter-spacing: 1px;
	margin-right: 28px;
}

.initial-budgetchart {
	margin-right: 15px;
  width: 60px;
  padding: 20px;
  font-size: 0.8em;
  background-color: #fff;
  border-radius: 16px;
  box-shadow: 3px 5px 6px 0px rgba(0,0,0, 0.08);
}
