.side-bar {
	width: 100%;
}

.journeys-list-wrapper {
	padding-top: 60px;
	width: 100%;
}

.journeys-list {
	padding: 0;
	margin: 0 5px;
}

.add-journey-wrapper {
	display: flex;
	margin: 12px 0 0 10px;
	padding: 5%;
}

.show-add-journey-btn {
	display: flex;
	align-items: center;
	color: #9B9B9B;
	font-weight: 500;
	font-size: 15px;
	letter-spacing: 0.2px;
	border-radius: 8px;
	transition: 0s;
	outline: none;
	cursor: pointer;
}

.show-add-journey-btn:hover {
  color: #177EF5;
}

.add-journey {
	display: flex;
	flex-direction: column;
	align-items: left;
	width: 100%;
}

.add-journey-input {
	font-weight: 500;
	font-size: 15px;
	color: #3E3E3E;
	border-radius: 6px;
	border: 1px solid #f0f0f0;
	background-color: #f0f0f0;
	padding: 8px;
}

.add-journey-input::placeholder {
	color: rgba(62,62,62, 0.6);
	letter-spacing: 1px;
}

.add-journey-input:focus {
	background-color: rgba(0, 0, 0,0.02);
	border: 1px solid #177EF5;
}

.add-journey-btn-group {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	margin-top: 7px;
}

.add-journey-submit {
	font-weight: 500;
  font-size: 15px;
  letter-spacing: 1px;
	color: #FFF;
	background-color: #2D8AF5;
	height: 36px;
	width: 86px;
	margin-right: 5px;
	padding: 0 6px;
	border-radius: 8px;
	cursor: pointer;
}
