.journey {
	width: 98%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 11px 0;
	margin: 8px 0;
	border-radius: 6px;
	background-color: #fff;
	box-shadow: 3px 3px 7px 0px rgba(0,0,0, 0.1);
}

.change-display-journey-btn {
	margin: 0 15px;
	cursor: pointer;
	padding: 2px 0 2px 10px;
}

.journey-name {
	font-weight: 400;
	font-size: 15px;
	font-family: "Ubuntu";
	color: #3e3e3e;
	letter-spacing: 1px;
}

.journey-btn-group {
	margin-right: 10px;
	padding: 2px;
	display: flex;
	align-items: center;
}

.update-journey-input {
	font-weight: 500;
	font-size: 15px;
	color: #3E3E3E;
	border-radius: 6px;
	border: 0px;
	background-color: #f0f0f0;
	padding: 8px 0 8px 10px;
	margin-left: 12px;
	width: 63%;
}

.update-journey-input::placeholder {
	color: rgba(62,62,62, 0.6);
	letter-spacing: 1px;
}

.update-journey-input:focus {
	 background-color: rgba(0, 0, 0,0.02);
	 border: 1px solid #177EF5;
}
