.days-option-btn {
  color: #3E3E3E;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  letter-spacing: 1px;
  padding: 4px 10px;
  width: 100%;
  transition: 0s;
}

.days-option-btn:hover {
  background-color: #177EF5;
  color: #FFF;
}
