.signin {
  padding: 7% 0 0 20%;
}

.signin-welcome-words {
  margin: 20px;
  padding: 0;
}

.signin-welcome-words p {
  margin: 7px 0;
  font-weight: 600;
  line-height: 40px;
  font-size: 35px;
  font-family: 'Roboto';
  letter-spacing: 0.75px;
  color: rgba(35,35,35,1);
}

.words-inline {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.tripper-white-logo {
  width: 119px;
  margin: 2px 0 0 15px;
}

.signin-form {
  margin-top: 3%;
  padding: 4%;
  width: 400px;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.98);
  border-radius: 22px;
  border: 0px;
  box-shadow: 7px 7px 11px 0 rgba(0,0,0, 0.24); 
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signin-form-row {
  width: 100%;
}

.signin-form-row-title {
  font-size: 16px;
  color: rgba(70,70,70 ,1);
  font-weight: 500;
  letter-spacing: 1.2px;
  display: block;
  margin: 27px 0 7px 0;
  padding: 0;
}

.signin-form-row-input {
  font-weight: 500;
  font-size: 18px;
  color: rgba(40,40,40, 0.9);
  padding: 3.2% 3%;
  width: 94%;
  background-color: rgba(0, 0, 0,0.1);
  border: 0px;
  border-radius: 6px;
}

.signin-form-submit {
  margin: 50px 0 10px 0;
  width: 100%;
  text-align: right;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.signin-input-submit {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: rgba(62,62,62, 0.9);
  padding: 3.2% 0;
  width: 147px;
  background-color: rgba(80, 227, 194,1);
  border: 0px;
  border-radius: 21px;
  box-shadow: 2px 4px 10px 0 rgba(0,0,0, 0.3);
  cursor: pointer;
}

.signin-input-submit:hover {
  background-color: rgba(15, 202, 160,1);
}

.signin-form-alarm {
  margin: 10px 0;
  width: 100%;
  text-align: right;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.signin-form-alarm-words {
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 1px;
  color: rgba(70,70,70 ,1);
  margin: 0 5px;
}

.signin-form-alarm-btn {
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 0.1px;
  color: rgba(73, 199, 170,1);
  margin: 0 5px;
}