.accounts-container {
	padding: 0 ;
	margin: 0 ;
}

.show-add-list-wrapper {
	width: 36%;
	height: auto;
	padding: 0;
	margin-top: 3%;
	margin-left: 12%;
	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 8px;
	box-shadow: 3px 5px 10px 0px rgba(0,0,0, 0.05);
}

.show-add-list {
	display: flex;
	align-items: center;
	padding: 3%;
	margin-left: 4%;
	background-color: rgba(255, 255, 255,0);
	outline: none;
}

.add-list-img {
	width: 14px;
	height: auto;
	margin: 0;
	padding: 0;
}

.show-add-list-text {
	font-weight: 800;
	font-size: 17px;
	font-family: "Ubuntu";
	line-height: 20px;
	letter-spacing: 0.8px;
	color: rgba(232,232,232, 1);
	margin-left: 15px;
}


.account-table {
	width: 36%;
	height: auto;
	padding: 0;
	margin-top: 3%;
	margin-left: 12%;
	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 20px;
	box-shadow: 3px 5px 10px 0px rgba(0,0,0, 0.05);
}

.scroll-account-list {
	padding: 7% 6% 0% 6%;
}

.account-list {
	margin: 0;
	padding: 0;
	width: 98%;
	max-height: 400px;
}

.show-add-account-list {
	display: flex;
	align-items: center;
	padding: 3.5% 3% 5% 3%;
	margin: 0;
	background-color: rgba(255, 255, 255,0);
	outline: none;
}

.add-account-list {
	margin: 0;
	padding: 2% 0% 6% 0%;
	width: 98%;
	display: flex;
	flex-direction: column;
}

.add-account-list-content {
	margin-top: 10px;
	padding: 0;
	width: 100%;
	display: flex;
}

.account-category {
	width: 16%;
	margin: 6px 5px 6px 0;
	padding: 0 2%;
	background-color: rgba(249,249,253,1);
	border: 0px;
	border-radius: 6px;
	display: flex;
	align-items: center;
}

.account-category-selector {
	appearance: none;
	outline: none;
	font-size: 15px;
	font-weight: 500;
	color: rgba(62,62,62,1);
	background: transparent; 
	border: none;
	cursor: pointer;
	width: 100%;
}

.account-category-selector-icon {
	padding: 0;
	margin: 0;
	float: right;
}

.account-category-selector-icon img {
	padding: 0;
	margin: 5px 0 0 0;
	width: 12px;
}

.add-list-input-group {
	display: flex;
	justify-content: flex-start;
}

.input-list-detail, .input-list-amount {
	font-weight: 500;
	font-size: 16px;
	color: rgba(62,62,62, 0.9);
	margin: 5px 2px;
	padding: 1.8%;
	width: 40%;
	background-color: rgba(0, 0, 0,0.1);
	outline: none;
	border: 2px solid rgba(70, 210, 235, 0);
	border-radius: 6px;
}

.input-list-detail::placeholder, .input-list-amount::placeholder {
	color: rgba(255,255,255,0.4);
	font-weight: 500;
	letter-spacing: 0.5px;
}

.input-list-detail:focus, .input-list-amount:focus {
	background-color: rgba(0, 0, 0,0.02);
	border: 2px solid rgba(40, 215, 194, 1);
}

.input-list-submit-group {
	margin-top: 10px;
	padding: 0;
	width: 100%;
	display: flex;
	align-items: center;
}

.input-list-submit {
	font-weight: 500;
	font-size: 15px;
	letter-spacing: 1px;
	width: 20%;
	margin: 0;
	padding: 1.6%;
	color: rgba(249,249,253,1);
	background-color: rgba(40, 215, 194, 1);
	border: 0px;
	border-radius: 6px;
	box-shadow: 3px 5px 10px 0px rgba(0,0,0, 0.1);
	cursor: pointer;
}

.input-list-submit:hover {
	background-color: rgba(40, 200, 190, 1);
}

.cancel-input-list-btn {
	margin: 2px 0 0 20px;
	width: auto;
	cursor: pointer;
	outline: none;
	background-color: rgba( 197, 199, 212, 0);
}

.cancel-btn-img {
	width: 16px;
}

/*.cancel-input-list-submit {
	width: 20%;
	margin-right: 12px;
	padding: 1.6%;
	background-color: rgba( 197, 199, 212, 1);
	border: 0px;
	border-radius: 6px;
	box-shadow: 3px 5px 10px 0px rgba(0,0,0, 0.1);
	cursor: pointer;
	outline: none;
}*/

.cancel-input-list-submit:hover {
	background-color: rgba( 180, 189, 210, 1);
}