.item-category {
  width: 14%;
  margin-left: 5px;
  padding: 0 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item-category-btn {
  display: flex;
  background: none;
  color: #3E3E3E;
}

.item-category-btn-icon {
  margin-left: 12px;
  padding-bottom: 2px;
}

.category-selector-icon-img {
  width: 8px;
}

.category-selector-wrapper {
  width: 5.5%;
  min-width: 60px;
  max-width: 90px;
  z-index: 1000;
  position: absolute;
  background-color: #FFF;
  box-shadow: 3px 5px 8px 0px rgba(0,0,0, 0.2);
  border: 0px;
  border-radius: 12px;
}

.category-selector {
  width: 100%;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.category-selector button {
  font-weight: 400;
  color: #3E3E3E;
  letter-spacing: 1px;
  text-align: center;
  width: 100%;
  padding: 1px 10px;
  transition: 0s;
}

.category-selector button:hover {
  color: #FFF;
  background-color: #177EF5;
}

.category-selector button:active {
  color: #FFF;
  background-color: #177EF5;
}
