.charts-wrapper {
  width: 100%;
  max-width: 600px;
  padding: 0;
  margin: 0;
}

.charts {
  padding: 0;
  margin: 0;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 3px 5px 10px 0px rgba(0,0,0, 0.08);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.chart-area {
  margin: 0;
  padding: 5px;
  background-color: #888;
}

.chart-legend-wrapper {
  margin: 0;
  padding: 20px;
}

.chart-legend {
  padding: 0;
  margin: 20px 0;
}

.chart-legend-list {
  color: #152a32;
  margin-bottom: 2px;
  font-weight: 400;
  font-size: 15px;
}

.chart-legend-category {
  margin-right: 20px;
  letter-spacing: 2px;
}

.chart-legend-cost, .chart-legend-percentage {
  margin: 0 20px;
  letter-spacing: 1px;
}

.chart-legend-sum {
  margin-top: 30px;
  padding-bottom: 30px;
}

.chart-legend-sum span {
  letter-spacing: 1.8px;
  font-weight: 400;
  font-size: 15px;
  color: #152a32;
  margin-right: 30px;
}

