.charts-wrapper {
  width: 100%;
  max-width: 600px;
  padding: 0;
  margin: 0;
}

.charts-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.charts-summary {
  margin: 0 15px;
}

.charts-summary span {
  letter-spacing: 0.5px;
  font-family: "Ubuntu";
  margin: 0 5px;
  color: #3E3E3E;
  font-weight: 400;
  font-size: 15px;
}

.initial-chart {
  padding: 15%;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 3px 5px 10px 0px rgba(0,0,0, 0.08);
}

.charts {
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 3px 5px 10px 0px rgba(0,0,0, 0.08);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 8px;
}

.chart-area {
  padding: 2px;
}

.chart-legend {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 4% 1.2%;
  width: 50%;
}

