.home-container {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: #f9f9f9;
  display: flex;
}

.side-bar {
  margin: 0;
  padding: 0;
  width: 250px;
  height: 100%;
  background-color: rgba(255,255,255,1);
}

.main-section {
  margin-top: 40px;
  padding: 10px 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-title {
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 1px;
  font-family: "Ubuntu";
  margin: 12px 15px;
  color: #3e3e3e;
}

.editable-text {
  color: #177ef5;
  font-weight: 400;
}

.sub-section {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 100%;
}

.minor-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 45%;
  max-width: 600px;
}

/*.control-pannel {
  margin: 0;
  padding: 0;
  height: 360px;
  background-color: rgba(250,190, 220, 1);
}*/
  
/*.dashboard {
  background-color: rgba(82, 145, 230, 1);
  margin: 0;
  padding: 0;
  height: 70%;
  display: flex;
  justify-content: space-around;
}*/

/*.accounts-section {
  width: 100%;
  height: auto;
  padding: 3.2% 4%;
  margin: 0;
}*/

.accounts-wrapper {
  width: 100%;
  margin-top: 20px;
  padding: 0;
}

.accounts-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.accounts-days-manage {
  display: flex;
  align-items: center;
}

.control-btn {
  margin: 2px 0 0 0;
  padding: 2px 3px;
  outline: none;
  background: none;
  font-size: 15px;
  font-weight: 500;
  color: #9b9b9b;
}

.control-btn:hover {
  background-color: #E7E7E7;
  border: 0;
  border-radius: 8px;
  color: #177ef5;
}

.add-icon-img ,.delete-icon-img, .select-icon-img{
  width: 10px;
  height: auto;
  margin: 0 2px;
  padding: 0;
}

.update-icon-img {
  width: 12px;
  height: auto;
  margin: 0 5px;
  padding: 0;
}

.accounts-days {
  width: 142px;
  height: 48px;
  margin: 0 15px;
  padding: 0 15px;
  background-color: #f1f1f1;
  border: 0px;
  border-radius: 10px 10px 0 0;
  display: flex;
  align-items: center;
  /*box-shadow: 3px 0px 4px 0px rgba(0,0,0, 0.1);*/
}

.accounts-day-selector {
  appearance: none;
  outline: none;
  font-size: 15px;
  font-weight: 600;
  color: #4a4a4a;
  letter-spacing: 3px;
  background: transparent; 
  border: none;
  cursor: pointer;
  width: 100%;
}

.web-info {
  font-weight: 500;
  color: rgba( 62, 62, 62,1);
  font-size: 13px;
  letter-spacing: 2px;
  margin: 0;
  padding: 0 0 4% 5%;
}

.footer {
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}
