/*share css*/
.hidden {
  display: none;
}

.home-title {
  font-weight: 400;
  font-family: "Ubuntu";
  letter-spacing: 1px;
  color: #3E3E3E;
  margin: 12px 15px;
}

.home-subtitle {
  font-weight: 600;
  font-family: "Ubuntu";
  color: #3E3E3E;
  text-transform: capitalize;
  margin: 12px 15px;
}

/*in SideBar & Accounts*/
.show-add-btn {
  color: #9B9B9B;
  border-radius: 8px;
  display: flex;
  align-items: center;
  transition: 0s;
}

.show-add-btn:hover {
  color: #177EF5;
}

.show-add-btn:active {
  color: #177EF5;
}

.show-add-btn span {
  letter-spacing: 0.2px;
}

.add-submit-input {
  font-size: 13px;
  letter-spacing: 1px;
  color: #FFF;
  min-width: 76px;
  height: 36px;
  margin: 6px 0;
  padding: 0 13px;
  border-radius: 8px;
  background-color: #2D8AF5;
  cursor: pointer;
}

.add-submit-input:active {
  background-color: #196FD0;
}

/*in SideBar & StaticPannel & SetBudgets*/
.cancel-btn {
  width: 25px;
  height: 25px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cancel-btn:hover {
  background-color: #DDD;
}

.cancel-btn-img {
  width: 10px;
  margin: 0 2px;
}

/*Home & List*/
.delete-btn {
  letter-spacing: 1px;
  color: #9B9B9B;
  padding: 2px 3px;
}

.delete-btn:hover {
  color: #177EF5;
}

.delete-btn:active {
  color: #177EF5;
}

.update-btn {
  width: 25px;
  height: 25px;
  border-radius: 20px;
}

.add-icon-img, .select-icon-img,
.update-icon-img {
  width: 10px;
  margin: 0 5px;
}

/*only in Home*/
.home-container {
  width: 100%;
  height: 100%;
  display: flex;
}

.side-bar-wrapper {
  width: 27%;
  background-color: #FFF;
  position: relative;
  top: 40px;
  display: block;
  animation: animateleft 0.4s;
}

@keyframes 
  animateleft {
    from {left:-300px; opacity:0} 
    to {left:0; opacity:1}
  }

.side-bar {
  width: 100%;
}

.main-section {
  width: 100%;
  margin-top: 40px;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sub-section {
  width: 100%;
  background-color: #F9F9F9;
  display: flex;
  justify-content: center;
}

.minor-section {
  width: 45%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.accounts-wrapper {
  width: 100%;
  margin-top: 20px;
}

.accounts-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.accounts-days-manage {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left-column ,.right-column {
  margin-right: 13px;
  display: flex;
}

.add-day, .delete-day {
  margin: 2px 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-btn {
  letter-spacing: 1px;
  color: rgba( 62, 62, 62,0.8);
  margin-left: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0s;
}

.add-btn:hover {
  color: #177EF5;
}

.add-btn:active {
  color: #9B9B9B;
}

.accounts-days {
  width: 142px;
  height: 48px;
  margin: 0 15px;
  padding: 0 15px;
  background-color: #F1F1F1;
  border: 0px;
  border-radius: 10px 10px 0 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.days-selector-btn {
  margin: 0 10px;
  display: flex;
  justify-content: space-between;
}

.days-name {
  font-size: 16px;
  font-weight: 400;
  font-family: "Ubuntu";
  letter-spacing: 1px;
  color: #3E3E3E;
}

.days-selector-btn-icon {
  padding-top: 1px;
}

.days-selector-btn-icon-img {
  width: 9px;
}

.days-selector-wrapper {
  border: 0px;
  border-radius: 12px;
  background-color: #FFF;
  box-shadow: 3px 5px 8px 0px rgba(0,0,0, 0.2);
  width: 8%;
  min-width: 90px;
  max-width: 142px;
  padding: 2px 0;
  position: absolute;
  z-index: 1000;
}

.days-selector {
  width: 100%;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
