.home-container {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: #f9f9f9;
  display: flex;
}

.side-bar {
  margin: 0;
  padding: 0;
  width: 250px;
  height: 100%;
  background-color: rgba(255,255,255,1);
}

.main-section {
  margin-top: 40px;
  padding: 10px 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.static-pannel-wrapper {
  width: 80%;
  max-width: 1048px;
  padding: 10px;
  margin: 15px;
}

.home-title {
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 1px;
  font-family: "Ubuntu";
  margin: 15px;
  color: #3e3e3e;
}

.static-pannel {
  margin: 0;
  padding: 2% 1.5%;
  background-color: #fff;
  border: 0;
  border-radius: 12px;
  box-shadow: 3px 5px 10px 0px rgba(0,0,0, 0.1);
  display: flex;
  justify-content: space-around;
}

.static-pannel-section {
  width: 30%;
  margin: 10px 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.static-pannel-topic {
  margin-right: 25px;
  font-family: "Ubuntu";
  padding: 2px;
}

.static-pannel-title {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 2px;
}

.static-pannel-subtitle {
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 1px;
}

.static-pannel-amount {
  font-size: 24px;
  font-weight: 300;
  margin-top: 18px;
  color: #3e3e3e;
}

.editable-text {
  color: #177ef5;
  font-weight: 400;
}

.sub-section {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 100%;
}

.minor-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 45%;
  max-width: 600px;
}

/*.control-pannel {
  margin: 0;
  padding: 0;
  height: 360px;
  background-color: rgba(250,190, 220, 1);
}*/
  
/*.dashboard {
  background-color: rgba(82, 145, 230, 1);
  margin: 0;
  padding: 0;
  height: 70%;
  display: flex;
  justify-content: space-around;
}*/

.accounts-section {
  width: 100%;
  height: auto;
  padding: 3.2% 4%;
  margin: 0;
}

.accounts-days-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.accounts-day-title {
  font-size: 20px;
  color: rgba(255,255,255,1);
  font-weight: 500;
  letter-spacing: 1px;
  margin: 0 15px;
  padding: 5px;
  cursor: pointer; 
}

.accounts-day-title:hover {
  color: rgba(255,255,255,0.7);
}

.accounts-days-manage {
  display: flex;
  align-items: center;
}

.accounts-days {
  width: 100px;
  height: 36px;
  margin: 0 15px;
  padding: 0 15px;
  background-color: rgba( 0, 172, 238, 1);
  border: 0px;
  border-radius: 6px;
  display: flex;
  align-items: center;
}

.accounts-day-selector {
  appearance: none;
  outline: none;
  font-size: 16px;
  font-weight: 600;
  color: rgba(255,255,255,1);
  letter-spacing: 3px;
  background: transparent; 
  border: none;
  cursor: pointer;
  width: 100%;
}

.control-days-btn {
  margin: 2px 0 0 0;
  outline: none;
  background: none;
  font-size: 18px;
  font-weight: 500;
  color: rgba(255,255,255,1);
}

.control-days-btn:hover {
  color: rgba(255,255,255,0.8);
}

.add-day-img {
  width: 12px;
  height: auto;
  margin: 0 5px;
  padding: 0;
}


.web-info {
  font-weight: 500;
  color: rgba( 62, 62, 62,1);
  font-size: 13px;
  letter-spacing: 2px;
  margin: 0;
  padding: 0 0 4% 5%;
}

.footer {
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}
