.accounts {
	padding: 1%;
	margin-bottom: 50px;
	height: auto;
	background-color: #f1f1f1;
	border-radius: 20px;
	box-shadow: 3px 5px 10px 0px rgba(0,0,0, 0.1);
}

.scroll-wrapper {
	padding: 7% 6% 2% 6%;
}

.accounts-list {
	margin: 0;
	padding: 0;
	width: 98%;
	max-height: 400px;
}

.add-item-wrapper {
	margin: 20px 0;
}

.add-item {
	margin: 0;
	padding: 0% 0% 2% 0%;
	width: 95.5%;
	display: flex;
	flex-direction: column;
}

.add-item-content {
	margin-top: 25px;
	width: 100%;
	margin-bottom: 1%;
	padding: 8px;
	border-radius: 6px;
	background-color: #F9F9FD;
	box-shadow: 3px 5px 10px 0px rgba(0,0,0, 0.1);
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.item-category {
	width: 60px;
	margin-right: 6px;
	padding: 0 8px;
	border: 0px;
	border-radius: 6px;
	display: flex;
	align-items: center;
}

.item-category-selector {
	appearance: none;
	outline: none;
	font-size: 14px;
	font-weight: 500;
	color: #3E3E3E;
	letter-spacing: 2px;
	background: transparent; 
	border: none;
	cursor: pointer;
	width: 100%;
}

.category-selector-icon {
	padding: 0 0 2px 0;
	float: right;
}

.category-selector-icon img {
	width: 8px;
}

.item-detail-input {
	width: 60%;
}

.item-amount-input {
	width: 20%;
}

.add-item-content input {
	font-weight: 500;
	font-size: 15px;
	color: rgba(62,62,62, 0.9);
	margin: 0 4px;
	padding: 5px;
	background-color: rgba(0, 0, 0,0.1);
	outline: none;
	border: 2px solid rgba(70, 210, 235, 0);
	border-radius: 6px;
}

.add-item-content input::placeholder {
	color: rgba(0,0,0,0.5);
	font-weight: 500;
	letter-spacing: 0.5px;
}

.add-item-content input:focus {
	background-color: rgba(0, 0, 0,0.02);
	border: 2px solid rgba(40, 215, 194, 1);
}

.item-btn-group {
	margin-top: 8px;
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.add-item-submit {
	font-weight: 500;
	font-size: 13px;
	letter-spacing: 0.8px;
	padding: 8px 16px;
	color: #FFF;
	background-color: #177ef5;
	border: 0px;
	border-radius: 8px;
	cursor: pointer;
}

.add-item-submit:hover {
	background-color: #2E8AF4;
}

.cancel-btn {
	margin: 2px 5px;
	padding: 5px;
	background-color: none;
	border: 0;
  border-radius: 7px;
}

.cancel-btn:hover {
	background-color: #E7E7E7;
  border: 0;
  border-radius: 7px;
}

.cancel-btn-img {
	width: 10px;
	margin: 0 2px;
}
