.sidenav {
	background-color: rgba(249, 249, 253, 1);
	width: 230px;
	height: 100%;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	overflow-x: hidden;
	margin: 0;
	padding-top: 60px;
}
.journey-list {
	width: 90%;
	height: auto;
	margin: 0 20px;
	padding: 0; 	
}

.journey-list-item {
	width: 100%;
	font-size: 16px;
	color: rgba(62, 62, 62, 1);
	font-weight: 400;
	margin: 28px 0;
	letter-spacing: 0.6px;
}

.add-journey-btn button {
	width: 90%;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	margin: 45px 20px;
	padding: 0;
	background-color: rgba(231, 231, 240, 0);  
}

.add-journey-btn img {
	width: auto;
	height: auto;
	margin: 0;
	padding: 0;
}

.add-journey-btn p {	
	color: rgba(113, 113, 113, 1);
	font-weight: 600;
	font-size: 15px;
}

