.accounts-list-item-wrapper {
	margin: 0;
	width: 100%;
}

.accounts-list-item-update {
	margin: 0;
	width: 100%;
	display: flex;
}

.accounts-list-item {
	margin-bottom: 1%;
	padding: 8px;
	border-radius: 6px;
	background-color: #FFF;
	box-shadow: 3px 5px 10px 0px rgba(0,0,0, 0.1);
	display: flex;
	align-items: center;
}

.accounts-list-item button {
	background: none;
}

.list-item-update {
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 100%;
}

.list-item-category {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 14%;
	margin: 0 6px;
	padding: 0 4px;
}

.item-category-btn {
	display: flex;
}

.item-category-text {
	font-size: 16px;
	color: #3E3E3E;
}

.item-category-btn-icon {
	margin-left: 8px;
	padding-bottom: 2px;
}

.category-selector-wrapper {
	position: absolute;
	z-index: 1000;
	border: 0px;
	border-radius: 12px;
	background-color: #FFF;
	box-shadow: 3px 5px 8px 0px rgba(0,0,0, 0.2);
	width: 5.5%;
	min-width: 60px;
	max-width: 90px;
}

.category-selector-hidden {
	display: none;
}

.category-selector {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	padding: 10px 0;
}

.category-selector button {
	color: #3E3E3E;
	font-size: 16px;
	font-weight: 400;
	text-align: center;
	letter-spacing: 1px;
	padding: 1px 10px;
	width: 100%;
	transition: 0s;
}

.category-selector button:hover {
	background-color: #177EF5;
	color: #FFF;
}

.list-item-update input {
	font-weight: 400;
	font-size: 15px;
	color: rgba(62,62,62, 0.9);
	margin-left: 4px;
	padding: 5px;
	background-color: #F2F2F2;
	outline: none;
	border: 2px solid rgba(70, 210, 235, 0);
	border-radius: 6px;
}

.list-item-update input::placeholder {
	letter-spacing: 0.5px;
}

.list-item-update input:focus {
	background-color: rgba(0, 0, 0,0.02);
	border: 2px solid #3b93f7;
}

.item-detail-update-input {
	width: 36%;
}

.item-amount-update-input {
	width: 20%;
}

.delete-item {
	margin: 5px;
	display: flex;
	flex-direction: flex-end;
}

.item-update-btn-group {
	margin-left: 6px;
	display: flex;
}

.item-update-btn {
	margin-left: 2px;
	padding: 15px 0;
	display: flex;
}

.cancel-btn-img {
	width: 10px;
}

.confirm-btn-img {
	width: 13px;
}

.list-item-group {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 4px;
	margin: 0;
	width: 90%;
}

.list-item-group span {
	font-weight: 500;
	font-size: 16px;
}

.list-item-category {
	color: rgba(62,62,62,1);
	width: 15%;
}

.list-item-detail {
	color: rgba(113, 113, 113, 1);
	margin-left: 20px;
	width: 75%;
}

.list-item-amount {
	color: rgba(113, 113, 113, 1);
	margin-left: 20px;
}
