.accounts-list-item-wrapper {
	margin: 0;
	width: 100%;
}

.accounts-list-item-update {
	margin: 0;
	width: 100%;
	display: flex;
}

.accounts-list-item {
	margin-bottom: 1%;
	padding: 8px;
	border-radius: 6px;
	background-color: #FFF;
	box-shadow: 2px 2px 8px 0px rgba(0,0,0, 0.1);
	display: flex;
	align-items: center;
}

.accounts-list-item button {
	background: none;
}

.list-item-update {
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 100%;
}

.list-item-update input {
	font-weight: 400;
	font-size: 15px;
	color: rgba(62,62,62, 0.9);
	margin-left: 4px;
	padding: 5px;
	background-color: #F2F2F2;
	outline: none;
	border: 1px solid rgba(0, 0, 0, 0);
	border-radius: 6px;
}

.list-item-update input::placeholder {
	letter-spacing: 0.5px;
}

.list-item-update input:focus {
	background-color: rgba(0, 0, 0, 0.02);
	border: 1px solid #3b93f7;
}

.item-detail-update-input {
	width: 36%;
}

.item-amount-update-input {
	width: 20%;
}

.delete-item {
	margin: 5px;
	display: flex;
	flex-direction: flex-end;
}

.item-update-btn-group {
	margin-left: 6px;
	display: flex;
}

.item-update-btn {
	margin-left: 2px;
	padding: 15px 0;
	display: flex;
}

.list-item-control-btn {
  padding: 5px 2px;
  background: none;
  border-radius: 8px;
  display: flex;
  transition: 0s;
}

.list-item-control-btn:hover {
  background-color: #DDD;
}

.cancel-btn-img {
	width: 10px;
	margin: 0 2px;
}

.confirm-btn-img {
	width: 13px;
	margin: 0 3px;
}

.list-item-group {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 4px;
	margin: 0;
	width: 90%;
}

.list-item-group span {
	font-weight: 500;
	font-size: 15px;
}

.list-item-category {
	color: rgba(62,62,62,1);
	width: 15%;
	margin-left: 15px;
}

.list-item-detail {
	color: rgba(113, 113, 113, 1);
	margin-left: 20px;
	width: 75%;
}

.list-item-amount {
	color: rgba(113, 113, 113, 1);
	margin-left: 20px;
}
