.accounts {
	height: auto;
	margin-bottom: 50px;
	padding-top: 7%;
	border-radius: 20px;
	background-color: #F1F1F1;
	box-shadow: 3px 4px 8px 0px rgba(0,0,0, 0.15);
}

.scroll-wrapper {
	width: 100%;
}

.accounts-list {
	max-height: 400px;
	padding: 0 7% 2% 7%;
}

.add-item-wrapper {
	margin-top: 2%;
	padding: 2% 7% 3% 7%;
	border-radius: 0 0 18px 18px;
}

.add-item-wrapper-bg {
	background-color: rgba(0, 0, 0, 0.03);
}

.add-item-btn-wrapper {
	padding: 2% 0;
}

.add-item {
	width: 100%;
	padding: 3% 0;
	display: flex;
	justify-content: center;
}

.add-item-content {
	padding: 8px;
	border-radius: 6px;
	background-color:  #FFF;
	box-shadow: 3px 3px 8px 0px rgba(0,0,0, 0.1);
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.item-category {
	width: 14%;
	margin-left: 5px;
	padding: 0 4px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.item-category-btn {
	display: flex;
	background: none;
	color: #3E3E3E;
}

.item-category-btn-icon {
	margin-left: 12px;
	padding-bottom: 2px;
}

.category-selector-icon-img {
	width: 8px;
}

.category-selector-wrapper {
	width: 5.5%;
	min-width: 60px;
	max-width: 90px;
	z-index: 1000;
	position: absolute;
	background-color: #FFF;
	box-shadow: 3px 5px 8px 0px rgba(0,0,0, 0.2);
	border: 0px;
	border-radius: 12px;
}

.category-selector {
	width: 100%;
	padding: 10px 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.category-selector button {
	font-weight: 400;
	color: #3E3E3E;
	letter-spacing: 1px;
	text-align: center;
	width: 100%;
	padding: 1px 10px;
	transition: 0s;
}

.category-selector button:hover {
	color: #FFF;
	background-color: #177EF5;
}

.category-selector button:active {
	color: #FFF;
	background-color: #177EF5;
}

.item-detail-input {
	width: 48%;
}

.item-amount-input {
	width: 20%;
}

.add-item-content {
	width: 97%;
}

.add-item-content input {
	color: rgba(62,62,62, 0.9);
	margin: 0 4px;
	padding: 6px;
	background-color: rgba(0, 0, 0,0.1);
	border: 1px solid rgba(0, 0, 0, 0);
	border-radius: 6px;
}

.add-item-content input::placeholder {
	color: rgba(0,0,0,0.5);
	font-weight: 500;
	letter-spacing: 0.5px;
}

.add-item-content input:focus {
	background-color: rgba(0, 0, 0,0.02);
	border: 1px solid  #3B93F7;
}

.item-btn-group {
	margin-left: 8px;
	display: flex;
	align-items: center;
	justify-content: center;
}
