.app {
	height: 125%;
	padding: 0;
	margin: 0;
}

.dashboard {
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: #f9f9f9;
}

.dashboard button {
  outline: none;
  cursor: pointer;
}

.hidden {
  display: none;
}