/*initial setting*/
html, body, #root {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  font-size: 15px;
  font-family: -apple-system, BlinkMacSystemFont, "PingFang SC", "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", 
    "Helvetica Neue", Helvetica, arial, "sans-serif";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  z-index: 10001;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: #FFF;
  box-shadow: 0 4px 8px 0 rgba(0,0,0, 0.1);
}

p {
	margin: 0;
}

ul {
	list-style: none;
  padding: 0;
}

button {
	display: inline-block;
	border: none;
	margin: 0;
	padding: 0;
	font-size: 15px;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	transition: background 250ms ease-in-out, transform 150ms ease;
	-webkit-appearance: none;
	-moz-appearance: none;
}

input {
	outline: none;
}

