@media screen and (max-width: 1650px) {
  .add-item {
    flex-direction: column;
    align-items: flex-start;
  }

  .item-btn-group {
    margin: 10px 5px;
  }

  .add-item-submit {
    margin: 0;
  }

  .item-category {
    padding: 0;
    width: 17%;
  }

  .item-detail-input {
    width: 56%;
  }

  .item-amount-input {
    width: 24%;
  }

  .journey-name {
    letter-spacing: 0.2px;
  }
}

@media screen and (min-width: 1261px) and (max-width: 1491px) {
  .accounts-nav {
    flex-direction: column;
    align-items: flex-start;
  }

  .accounts-days {
    margin: 0 15px 0 0;
  }

  .right-column {
    width: 93%;
    justify-content: space-between;
    margin: 0 0 0 12px;
  }
}

@media screen and (min-width: 960px) and (max-width: 1260px) {
  .nav-text-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 8px 0;
  }

  .side-bar-wrapper {
    width: 35%;
    min-width: 292px;
  }

  .journeys-list-wrapper {
    padding-top: 90px;
  }

  .main-section {
    margin-top: 65px;
  }

  .sub-section {
    flex-direction: column;
    align-items: center;
  }

  .minor-section {
    width: 80%;
    max-width: 767px;
    margin: 10px;
  }

  .static-pannel-wrapper {
    max-width: 600px;
  }

  .static-pannel {
    padding: 3% 1.5%;
  }

  .static-pannel-section-wrapper {
    padding: 0;
    margin: 0 15px;
  }
  
  .static-pannel-amount {
    font-size: 18px;
    font-weight: 500;
  }

  .static-pannel-input {
    font-size: 18px;
    width: 60px;
    font-weight: 500;
  }

  .budget-wrapper {
    width: 80%;
    margin: 10px;
    display: flex;
    flex-direction: column;
    max-width: 600px;
  }
  
  .accounts-wrapper {
    max-width: 600px;
    margin-top: 30px;
  }
}

@media screen and (min-width: 375px) and (max-width: 959px) {

}
