@media screen and (max-width: 1300px) {
  .add-item {
    flex-direction: column;
    align-items: flex-start;
  }

  .item-btn-group {
    margin: 10px 5px;
  }

  .add-item-submit {
    margin: 0;
  }

  .item-category {
    padding: 0;
    width: 17%;
  }

  .item-detail-input {
    width: 56%;
  }

  .item-amount-input {
    width: 24%;
  }
}

@media screen and (min-width: 1023px) and (max-width: 1252px) {
  .accounts-nav {
    flex-direction: column;
    align-items: flex-start;
  }

  .accounts-days {
    margin: 0 15px 0 0;
  }

  .right-column {
    width: 93%;
    justify-content: space-between;
    margin: 0 0 0 12px;
  }
}

@media screen and (min-width: 414px) and (max-width: 1023px) {
  .nav-text-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 8px 0;
  }

  .main-section {
    margin-top: 70px;
  }

  .sub-section {
    flex-direction: column;
    align-items: center;
  }

  .minor-section {
    width: 80%;
    max-width: 767px;
    margin: 10px;
  }

  .static-pannel-wrapper {
    margin: 10px;
    max-width: 600px;
  }

  .static-pannel-section {
    flex-direction: column;
    align-items: flex-start;
  }

  .static-pannel-topic {
    margin: 0;
    padding: 0;
  }

  .budget-wrapper {
    width: 80%;
    margin: 10px;
    display: flex;
    flex-direction: column;
    max-width: 600px;
  }
  
  .accounts-wrapper {
    max-width: 600px;
    margin-top: 30px;
  }
}
