.static-pannel-wrapper {
  width: 80%;
  max-width: 1048px;
  margin: 15px;
  padding: 10px;
}

.static-pannel {
  background-color: #FFF;
  box-shadow: 3px 5px 10px 0px rgba(0,0,0, 0.1);
  border: 0;
  border-radius: 12px;
  padding: 2% 1.5%;
  display: flex;
  justify-content: space-around;
}

.static-pannel-section-wrapper {
  width: 30%;
  padding: 0 5%;
}

.static-pannel-section {
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.static-pannel-topic {
  font-family: "Ubuntu";
  margin-right: 15px;
  padding: 3px;
  display: flex;
  flex-direction: column;
}

.static-pannel-title {
  font-size: 16px;
  margin-bottom: 2px;
}

.static-pannel-subtitle {
  font-size: 13px;
  letter-spacing: 1px;
}

.static-pannel-amount {
  font-size: 24px;
  font-weight: 300;
  color: #3e3e3e;
  margin-top: 18px;
  animation: fadein 0.4s ease-in-out;
}

@keyframes
  fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

.static-pannel-update {
  height: 36px;
  display: flex;
  flex-direction: flex-end;
}

.total-budget-update {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.total-budget-update .cancel-btn {
  margin: 5px 2px;
}

.static-pannel-input {
  font-size: 20px;
  font-weight: 400;
  color: #3E3E3E;
  background-color: #F0F0F0;
  border: 0;
  border-radius: 6px;
  width: 96px;
  height: 32px;
  padding-left: 6px;
}

.static-pannel-input::placeholder {
  color: rgba(62,62,62, 0.6);
}

.static-pannel-input:focus {
  background-color: rgba(0, 0, 0,0.02);
  border: 1px solid #177EF5;
}

.static-pannel-text {
  margin-top: 12px;
  display: flex;
  justify-content: center;
  animation: fadein 0.4s ease-in-out;
}

.static-pannel-text span {
  font-size: 24px;
  font-weight: 400;
  color: #177EF5;
}

.static-pannel-text button {
  margin-top: 3px;
}
